.hero {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#heading {
    width: 65%;
}

.hero img {
    position: absolute;
    top: 0;
    right: 30px;
    z-index: -100;
}

.hero-text {
    padding-left: 30px;
}