.hero {
    display: flex;
    width: 1000px;
    margin: 30px auto 0 auto;
    position: relative;
}

#heading {
    width: 80%;
}

.hero img {
    width: auto;
    z-index: -100;
}

.hero-text {
    padding-left: 30px;
}